[submodule "cairo_contracts"]
	path = lib/cairo_contracts
	url = https://github.com/OpenZeppelin/cairo-contracts
[submodule "imx_starknet"]
	path = lib/imx_starknet
	url = https://github.com/immutable/imx-starknet
